<%- include('../../partials/layout/head', { page_title: 'Lib Index' }) %>

<h1>All Libs</h1>

<div class="blank-templates">
  <% templates.forEach(template => { %>
    <div class="blank-template">
      <a href="#"><%= template.title %></a>
      <p>by: <%= template.author %></p>
    </div>
  <% }) %>
</div>

<%- include('../../partials/layout/tail', { footer: 'test' }) %>