<% if (title) { %>
  <h1>No completed games for <span class="title">"<%= title %>"</span></h1>
<% } else { %>
  <h1>No completed games</h1>
  <h1>Be the first to <a href="/random">play!</a></h1>
<% } %>