<div class="modal-bg" id="share-modal">
  <div class="modal-items">
    <label></label>
    <input class="share-input" id="share-link" type="text" value=""/>
    <button class="button --modal" id="copy">copy</button>
  </div>
</div>