<div class="modal-bg" id="share-modal">
  <div class="modal-items">
    <label></label>
    <input id="share-link" type="text" value=""/><button id="copy">copy</button><span class="close-modal">&times;</span>
  </div>
</div>