<%- include('partials/layout/head', { page_title: 'Home', }) %>


<div class="main_page">
  <h1 class="title">Welcome to Code Libs!</h1>
  <p>Code Libs is a full-stack web application that draws from both a mad libs API and user contributions to bring this phrasal template word game online for everyone's enjoyment. Users may share their game links with one another, save games for later, and contribute to each other's games.</p>
  <div class="main_buttons">
    <a href="/random" class="button">Random</a>
    <a href="/libs" class="button">Pick A Template</a>
    <a href="/libs/new" class="button">Create</a>
  </div>
</div>

<%- include('partials/layout/tail') %>
