<%- include('partials/layout/head', { page_title: 'Index Page' }) %>

<h1>Home Index</h1>
<p>stuff about our site!</p>

<a href="/random">random</a>
<a href="/libs">pick a template</a>

<%- include('partials/layout/tail') %>
