<%- include('partials/layout/head', { page_title: 'Home', }) %>


<div class="page-container">
  <div class="home-top">
    <h1 class="title">Welcome to Code Libs!</h1>
    <p>Code Libs is a full-stack web application that draws from both a mad libs API and user contributions to bring this phrasal template word game online for everyone's enjoyment. Users may share their game links with one another, save games for later, and contribute to each other's games.</p>
  </div>

  <div class="main_buttons">
    <a href="/random">
      <div class="blank-template random expand-hover">
        <h2 class="home-btn-title">RANDOM</h2>
        <h4 class="home-btn-sub">Play a random Lib!</h4>
      </div>
    </a>

    <a href="/libs">
      <div class="blank-template pick expand-hover">
        <h2 class="home-btn-title">PICK</h2>
        <h4 class="home-btn-sub">Pick from one of our templates</h4>
      </div>
    </a>

    <a href="/libs/new">
      <div class="blank-template create expand-hover">
        <h2 class="home-btn-title">CREATE</h2>
        <h4 class="home-btn-sub">Make your own template with our template creator</h4>
      </div>
    </a>
  </div>

</div>

<%- include('partials/layout/tail') %>
