<%- include('partials/layout/head', { page_title: 'Index Page' }) %>

<h1>Home Index</h1>
<p>stuff about our site!</p>

<button id="random-play-button">random</button>
<button id="pick-game-button">pick a template</button>

<%- include('partials/layout/tail') %>
