<%- include('partials/layout/head', { page_title: 'Index Page' }) %>

<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>

<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>
<h1>All Libs</h1>

<%- include('partials/layout/tail') %>
