<form action="<%=url%>" method="POST" >
    <input type="hidden" name="_method" value="DELETE">
    <% if (trashcan) { %>
        <button class="delete-icon"><img src="../../img/trash-can.png" alt="trash-can.png"></button>
    <% } else { %>
        <button class="button">Delete!</button>        
    <% } %>
</form>