<div class="main-nav">
  <div>
    <img src="/img/codelibs_main_logo.png" width="200px">
    <div class="main-menu">
        <a href="#">Home</a>
        <a href="#">Play</a>
        <a href="#">Browse</a>
        <a href="#">About</a>
    </div>
  </div>
</div>