<%- include('../../partials/layout/head', { page_title: 'Game Index' }) %>

<h1>All completed games for <%= title %></h1>

<div class="completed-games">
  <% games.forEach(game => { %>
    <div class="completed-game">
      <p><%= game %></p>
    </div>
  <% }) %>
</div>

<%- include('../../partials/layout/tail', { footer: 'Test footer' }) %>