<%- include('../partials/layout/head', { page_title: 'About Us' }) %>
<div class="about-us-title">
  <h1>Meet Our Team!</h1>
  <p>We worked tirelessly and arduously to bring you this project you see before you. We hope you enjoy what we have to show you here today. Don't be afraid to follow us on LinkedIn!</p>
</div>

<div class="about-us-info">
  <img class="prof-thumb" src="/img/rebecca_tumb.png" alt="rebecca">
  <img class="prof-thumb"src="/img/rich_tumb.png" alt="richard">
  <img class="danClick prof-thumb" src="/img/danul_tumb.png" alt="danul">
</div>

<div class="modal-bg" id="rebecca">
  <div class="modal-items">
    <img src="/img/rebecca_cropped2.jpg">
    <div>
      <span class="close-modal">&times;</span>
      <h1>Rebecca Hong</h1>
      <h4>Software Developer <span>Apprentice</span></h4>
      <p>Rebecca is a middle millenial who adores female comics and teeny tiny avocados. </p>
      <p>She’s a cat lady with no cats. When away from her computer, she enjoys the feeling of walking around without a backpack on and wonders why women’s pants don’t have larger pockets.</p>
        <a href="https://www.linkedin.com/in/rebecca-y-hong/" target="_blank" >Connect with me on Linkedin</a>
    </div>
  </div>
</div>

<div class="modal-bg" id="richard">
  <div class="modal-items">
    <img src="/img/richard_cropped2.jpg">
    <div>
      <span class="close-modal">&times;</span>
      <h1>Richard Jimenez</h1>
      <h4>Software Developer <span>Apprentice</span></h4>
      <p>
        Richard is a jack of all trades and a master of sleeping. His passions include video games, music, food, technology, and of course software development. 
      </p>
      <p>
        Richard hopes to one day make the world a better place using technology to help people.

        Richard also once owned a pet monkey named Charlie.
      </p>
        <a href="https://www.linkedin.com/in/richardjim/" target="_blank">Connect with me on Linkedin</a>
    </div>
  </div>
</div>

<div class="modal-bg" id="danul">
    <div class="modal-items">
      <img src="/img/danul_cropped2.jpg">
      <div>
        <span class="close-modal">&times;</span>
        <h1>Danul De Leon</h1>
        <h4>Software Developer <span>Apprentice</span></h4>
        <p>Danul is an expert candle sniffer and dog enthusiast.  He enjoys doodling and pastries in his spare time.</p>
        <p>Danul has a background in Mechanical Engineering and is learning software development in hopes to one day be able to build himself a pet robot.</p>
        <a href="https://www.linkedin.com/in/danul-de-leon/" target="_blank">Connect with me on Linkedin</a>
      </div>
    </div>
  </div>

<%- include('../partials/layout/tail', { footer: 'Test footer' }) %>
