body {
  background-image: url('/img/paper.png');
}

main {
  padding: 0px 8%;
  margin: 0 auto;
}

.nav-container {
  background-color: #3e3c3d;
  min-width: 250px;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.20);
  margin-bottom: 10vh;
}

.main-nav > img {
  align-self: center;
  padding: 15px 0px 15px 20px;
  max-width: 150px;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  height: 50px;
  background-color: #3e3c3d;
  padding-top: 25px;
  color: whitesmoke;
}