:root {
  --primary-color: #3e3c3d;
  --secondary-color: aliceblue;
  --tertiary-color: orange;
  --quaternary-color: #aec9da;
}

body {
  background-image: url('/img/paper.png');
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* padding: 0px 8% 10% 8%; */
  padding: 0px 0% 10% 0%;
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  flex: 1;
}

.nav-container {
  background-color: var(--primary-color);
  min-width: 250px;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.20);
  margin-bottom: 10vh;
}

.main-logo {
  align-self: center;
  padding: 15px 0px 15px 20px;
  max-width: 150px;
}

footer {
  width: 100%;
  text-align: center;
  bottom: 0px;
  height: 50px;
  background-color: var(--primary-color);
  padding-top: 25px;
  color: var(--secondary-color);
}
