.menu-link {
  padding: 20px 40px;
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.15em;
  width: 60px;
}

#mobile-hide {
  display: none;
}

.menu-link:hover {
  background-color: orange;
}

.drop-down {
  position: relative;
  z-index: 2;
}

.main-menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: orange;
  height: 100vh;
}

.main-menu a {
  display: block;
}

.play-drop-down {
  display: block;
  position: relative;
  background-color: #3e3c3d;
  border-radius: 0px 0px 10px 10px; 
}

@media (min-width: 800px) {
  .main-menu {
    background-color: inherit;
    display: flex;
    align-items: baseline;
    position: static;
    height: auto;
  }

  .main-nav {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .play-drop-down {
    position: absolute;
    top: 60px;
    padding-top: 60px;
    display: none;
    z-index: 1;
  }

  .play-drop-down div {
    padding: 10px 0px;
  }

  .drop-down, #mobile-hide {
    display: block;
  }

  #mobile-play {
    display: none;
  }
}
