

.menu-link {
  padding: 20px 40px;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.15em;
  width: 60px;
}

#mobile-hide {
  display: none;
}

.menu-link:hover {
  background-color: var(--tertiary-color);
}

.drop-down {
  position: relative;
  z-index: 2;
}

.main-menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--tertiary-color);
  height: 100vh;
  display: none;
  z-index: 2;
}

.main-menu a {
  display: block;
}

.hamburger {
  float: right;
  padding: 40px 20px 0px 0px;

}

.play-drop-down {
  display: none;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 0px 0px 10px 10px; 
}

.mobile-spacer {
  display: block;
  height: 50px;
}

.close-menu-arrow {
  position: absolute;
  bottom: 20px;
  width: 55px;
  margin-left: 20px;
}

@media (min-width: 800px) {
  main {
    max-width: 960px;
  }

  .main-menu {
    background-color: inherit;
    display: flex;
    align-items: baseline;
    position: static;
    height: auto;
  }

  .close-menu-arrow, .hamburger, #mobile-play, .play-drop-down {
    display: none;
  }

  .main-nav {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .play-drop-down {
    position: absolute;
    top: 60px;
    padding-top: 60px;
    z-index: 1;
  }

  .play-drop-down div {
    padding: 10px 0px;
  }

  .drop-down, #mobile-hide {
    display: block;
  }
}

.blank-template {
  margin: 20px;
}

.button{
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 25px 25px;
  box-shadow: 0 5px 5px 0 rgb(62,60,61, 0.5);
}

.button:hover {
  background-color: var(--tertiary-color);
}

.main_page{
  text-align: center;
}

.main_page p {
  font-size: 1.25em;
}

.completed-game {
  margin-bottom: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1)
}

.title{
  text-align: center;
}

.lib_form{
text-align: center;
}

.lib_form label{
  display: none;
}

.lib_form input{
  width: 75%;
  padding: .5em 1em;
  margin: .5em 0;
}

.success-message {
  background-color: rgb(180, 229, 157);
  color: green;
  text-align: center;
  border: 1px solid green;
  border-radius: 25px;
  margin: 0 auto;
  padding: 20px;
}