.main-menu a, .main-menu p {
  padding: 20px;
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.15em;
}

.main-menu a:first-of-type {
  color: orange;
}

.main-menu {
  display: flex;
}

.main-menu a:hover {
  color: orange;
}
