.prof-thumb:hover, .expand-hover:hover, .button:hover  {
  transform: scale(1.15);
  cursor: pointer;
}

.add-pointer:hover {
  cursor: pointer;
}

.currentPage { 
  color: var(--primary-color);
}

@media (min-width: 800px) {
  .currentPage { 
    color: var(--tertiary-color);
  }
}
